@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

/* HEADER */
.header {
    background-color: none;
    height: 750px;
    width: 100%;
    background-image: url(../img/flat-lay-pizza-composition-with-copyspace.jpg);
    background-size: cover;
}

.header-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}

.nav {
    height: 10%;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.redirect a {
    color: #f4e9ca;
    text-decoration: none;
}
.redirect a:hover{
    border-bottom: 2px solid #ffd112;
    transition: border-color 0.3s ease;
}
button {
    height: 46px;
    width: 137px;
    border: none;
    border-radius: 5px;
}
.order button:hover{
color: #4f260e;
}
.box {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 5rem;
}

.box h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
}

.box p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.box button {
    background-color: #ffd112;
    color: #8f7c2e;
}
.box button:hover{
    color: white;
}
.main {
    height: 1051px;
    width: 100%;
    background-image: url(../img/foodvectorimage.jpg);
    background-size: contain;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-inner {
    display: flex;
    justify-content: center;
}

.main-inner h1{
    color: #c31e20;
}
.main-inner img {
    height: 356px;
    width: 713px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}

.mother {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.mother div {
    width: 50%;
    height: 100%;
}

.mother .bigimg {
    background-image: url(../img/yam\ \(3\).jpg);
    background-size: contain;
    width: 28%;
    border-radius: 20px;
}

.mother .otherfoods {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    column-gap: 40px;
}

.mother .otherfoods img {
    width: 45%;
    height: 45%;
    border-radius: 20px;
}

.section3 {
    background-color: #fff7d7;
    width: 100%;
    height: 373px;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

.section3-inner {
    width: 59%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section3-inner h1 {
    font-size: 2rem;
    color: #c31e20;
}

.section3-inner p {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(78, 78, 78, 0.726);
}

.mega-logo {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.mega-logo img {
    width: auto;
    height: 80%;
}

.section4 {
    background-color: #fff7d7;
    width: 100%;
    height: 538px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.insec4 {
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.txt4 {
    transition: .3s;
    background-color: #ffd112;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.txt4:hover {
    background-color: #8a846f;
    cursor: grab;
}

.txt4 p {
    font-size: 1.5rem;
    font-weight: 600;
}

.bgimg4 {
    background-color: #64625a;
    width: 100%;
    height: 80%;
    border-radius: 0 0 20px 20px;
    background-size: contain;
}

.img41 {
    background-image: url(../img/side-view-pizza-with-chopped-pepper-board-cookware.jpg);
}

.img42 {
    background-image: url(../img/street-food-still-life.jpg);
}

.img43 {
    background-image: url(../img/english-breakfast-toast-egg-bacon-vegetables-rustic-style-wooden-table.jpg);
    background-size: cover;
    background-position-y: -70px;
}


.section5 {
    /* background-color: #5c532f; */
    width: 100%;
    height: 736px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.txt5 {
    width: 100%;
    height: 30%;
    background-color: #ffd112;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txt5 h1 {
    font-size: 2.7rem;
    font-weight: 900;
}

.txt5 b {
    font-size: 1.5rem;
    font-weight: 600;
}

.carryinsec {
    width: 100%;
    height: 70%;
    background-color: #ffd112;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section5 .insec5 {
    width: 43%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.insec5 .oftxt {
    transition: .3s;
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.oftxt p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.oftxt button {
    width: 48%;
    height: 70%;
    background-color: #c31e20;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}
.oftxt button:hover{
    background-color: black;
    color: #ffd112;
}
.bgimg5 {
    background-color: #64625a;
    width: 100%;
    height: 70%;
    background-size: contain;
    border-radius: 10px;
    background-size: contain;

}

.img51 {
    background-image: url(../img/megachickenimage1.jfif);
    background-size: cover;
}

.img52 {
    background-image: url(../img/megachickenimage2.jfif);
}

.section6 {
    background-color: #fff7d7;
    width: 100%;
    height: 925px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.txt6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.txt6 h1 {
    color: #c31e20;
    font-size: 2.6rem;
    font-weight: 700;
}

.txt6 p {
    color: #424242;
    font-size: 1.5rem;
    font-weight: 500;
}

.insec6 {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.bgimg6 {
    width: 346px;
    height: 615px;
    background-size: cover;
    background-position: center;
}

.img61 {
    background-image: url(../img/ponyride.jpeg);
}

.img62 {
    background-image: url(../img/gokart.jpeg);
}

.img63 {
    background-image: url(../img/arcadegame.jpeg);
}

.img64 {
    background-image: url(../img/bouncycastle.jpeg);
}

.mega-footer {
    background-color: #272727;
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1271px;
    /* height:210px; */
    gap: 30px;
    margin: auto;
    background-color: #272727;
    color: #f8edd1;
}

.footer-left {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

.footer-topleft img {
    width: 80px;
    height: 62px;
}

.footer-topleft p {
    color: #ffd112;
}

.footer-topright {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-bottomleft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyrights {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 0.3px solid grey;
}

.inputholder {
    height: 48px;
    width: 319px;
    background-color: #fff7d7;
    gap: none;
    border: none;
    border-radius: 2px;
}

input {
    height: 47px;
    background-color: #272727;
    color: #717171;
    border:1px solid #fff7d7 ;
    border-radius: 2px 0 0 2px;
}

.button {
    height: 48px;
    background-color: #fff7d7;
    /* border: none; */
    /* border-radius: 0 5px 5px 0; */
}