@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

/* HEADER */
.header {
    background-color: none;
    height: 750px;
    width: 100%;
    background-image: url(../img/flat-lay-pizza-composition-with-copyspace.jpg);
    background-size: cover;
}

.header-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}

.nav {
    height: 10%;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.redirect a {
    color: #f4e9ca;
    text-decoration: none;
}

button {
    height: 46px;
    width: 137px;
    border: none;
    border-radius: 5px;
}

.box {
    height: 150px;
    width: 300px;
    margin-top: -100px;
    padding-left: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
}

.box p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.box button {
    background-color: #ffd112;
    color: #8f7c2e;
}
.main{
    height: 1051px;
    width: 100%;
    background-image: url(../img/foodvectorimage.jpg);
    background-size: contain;
    background-color: none;
}
.main-inner{
display: flex;
justify-content: center;
}
.main-inner img{
    height: 356px;
    width: 713px;
}